*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
     background-color: rgb(24, 24, 24); /*Step 5 : Change COlor */
     overflow: hidden;
}

.webgl
{
    position: absolute;     /* Step 17 fixed to Absoluted */
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}

.container{

    display: grid;
    height: 100vh;
    place-items: center;


}

h1{

    font-size: 9rem;
    color: white;
    text-transform: uppercase;
    opacity: 0.8;

}

section{
    display: block;
    height: 100vh;
}